.hidden {
    display: none;
}

#game-setup-container .row {
    margin-top: 1em;
    margin-bottom: 1em;
}

#game-container {
    height: 100%;
}

#map-container {
    /* width: 615px; */
    /* overflow: auto; */
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* width: 150px;
    height: 150px; */
    box-sizing: border-box;
    border: 1px solid black;
    /* display: inline-block;
    overflow: auto; */
    position: relative;
    flex-basis: 25%;
    overflow: auto;
}

.tile::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

.tile-content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}

.open-stats {
    cursor: pointer;
}

#printout, #stats {
    overflow: auto;
    height: 600px;
}

.tribute {
    width: 10px;
    height: 10px;
    margin: 3px;
    display: inline-block;
    border: 1px solid #000;
    /* background-color: green; */
}

.avatar {
    background:url('../avatar.png');
    background-size: 80px;
    width: 80px;
    height: 80px;
}

.avatar.dead, .tribute.dead {
    background-image: url(../img/skull.png);
    border: none;
}

.tribute.dead {
    background-color: #fff0;
    background-size: cover;
}

.layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* Terrain Types */
.desert {
    background-color: #ffa;
}

.plains {
    background-color: #af7;
}

.hills {
    background-color: #7a3;
}

.sparsely-wooded {
    background-image: url(../img/sparsely_wooded.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.lake-in {
    background-image: url(../img/lake.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.densely-wooded {
    background-image: url(../img/densely_wooded.png);
    background-size: cover;
    background-repeat: no-repeat;
}